.main{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  text-align: center;
}

.input{
  margin-bottom: 8px;
}

.form{
  max-width: 340px;
}

.submitBtn{
  margin-top: 16px;
}

.link{
  display: inline-block;
  margin-top: 16px;
}