.room{
  max-width: 960px;
  margin: 0 auto;
  height: 100vh;
}

.list{
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  padding: 24px;
}

.body{
  display: flex;
  height: calc(100% - 110px);
}

.main{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin-left: 24px;
  padding-bottom: 24px;
}