.item{
  display: flex;
  font-size: 14px;
  line-height: 16px;
  color: #FFF;
  padding: 10px;
  margin-bottom: 8px;
  max-width: 320px;
  background: #7B61FF;
  border-radius: 0 10px 10px 10px;

  &:last-child{
    margin-bottom: 0;
  }
}

.ownItem{
  background: #E4E3FF;
  border-radius: 10px 0 10px 10px;
  color: #000;
  margin-left: auto;
}

.strangerItem{
  margin-right: auto;
}

.content{

}

.time{
  margin-left: 6px;
  font-size: 12px;
  font-style: italic;
}