.item{
  margin-bottom: 8px;
  max-width: 350px;

  &:last-child{
    margin-bottom: 0;
  }
}

.message{
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  padding: 10px;
}

.content{
  background: #7B61FF;
  border-radius: 0px 10px 10px 10px;
}

.own{
  background: #E4E3FF;
  border-radius: 0px 10px 10px 10px;
  color: #000;
}